<dx-data-grid [dataSource]='orders'>
  <dxo-editing mode="row" [allowUpdating]="true"></dxo-editing>
  <dxi-column dataField="OrderNumber" caption="Invoice Number"></dxi-column>
  <dxi-column dataField="OrderDate" dataType="date" [format]="{ date: 'long' }" alignment="right"></dxi-column>
  <dxi-column dataField="SaleAmount" [format]="{ currency: 'EUR' }"></dxi-column>
  <dxi-column dataField="Employee"></dxi-column>
  <dxi-column dataField="CustomerStoreCity" caption="City"></dxi-column>
  <dxi-column dataField="CustomerStoreState" caption="State"></dxi-column>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>
</dx-data-grid>