<h2>Actions and Lists</h2>

<h3>Button</h3>
<dx-button text="Simple button" icon="home"></dx-button><br/>

<h3>Lookup</h3>
<dx-lookup
  [items]="products"
  [value]="products[0]">
</dx-lookup>

<h3>List</h3>
<dx-list
    [dataSource]="products"
    [height]="400"
    [grouped]="true"
    [collapsibleGroups]="true"
    [searchEnabled]="true"
    searchExpr="Name"
    searchMode="contains"
    [showSelectionControls]="true"
    selectionMode="multiple"
    [selectedItemKeys]="[ 3, 4, 5 ]"
    [allowItemDeleting]="true">
        <div *dxTemplate="let data of 'item'">
            <div>{{data.Name}}</div>
        </div>
</dx-list>

<h3>List with OData store</h3>
<dx-list
    [dataSource]="devAVDataSource"
    [height]="400">
        <div *dxTemplate="let data of 'item'">
            <div>{{data.Product_Name}}</div>
        </div>
</dx-list>

<h3>Accordion</h3>
<dx-accordion
  #accordion
  [dataSource]="plainProducts"
  [collapsible]="false"
  [multiple]="false"
  [selectedItems]="[plainProducts[0]]">
  <div *dxTemplate="let data of 'title'">
    {{data.Name}}
  </div>
  <div *dxTemplate="let data of 'item'">
    <div>
      <p><b>Name:</b> {{data.Name}}</p>
      <p><b>Category:</b> {{data.Category}}</p>
      <p><b>Price:</b> {{data.Price}}</p>
      <p><b>Current_Inventory:</b> {{data.Current_Inventory}}</p>
      <p><b>ImageSrc:</b> {{data.ImageSrc}}</p>
    </div>
  </div>
</dx-accordion>

<h3>Gallery</h3>
<dx-gallery
  [dataSource]="images"
  [selectedIndex]="2"
  [height]="300"
  [showIndicator]="true"
></dx-gallery>
