<h2>Forms and Multi-Purpose</h2>

<h3>Box</h3>
<dx-box
  direction="col"
  width="100%"
  [height]="250">
  <dxi-item
    class="rect demo-dark header"
    [ratio]="1">
    Header
  </dxi-item>
  <dxi-item
    [ratio]="2"
    [baseSize]="0">
    <dx-box
      direction="row"
      width="100%"
      [height]="125">
      <dxi-item
        class="rect demo-dark"
        [ratio]="1">
        Left Bar
      </dxi-item>
      <dxi-item
        class="rect demo-light"
        [ratio]="1">
        Content
      </dxi-item>
      <dxi-item
        class="rect demo-dark"
        [ratio]="1">
        Right Bar
      </dxi-item>
    </dx-box>
  </dxi-item>
  <dxi-item
    class="rect demo-dark footer"
    [ratio]="1">
    Footer
  </dxi-item>
</dx-box>
