/deep/ .rect{
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  height: 100%;
}
/deep/ .demo-light{
  background: rgba(245, 229, 166, 0.5)
}
/deep/ .demo-dark{
  background: rgba(148, 215, 199, 0.5);
}
/deep/ .demo-dark.header{
  background: rgba(243, 158, 108, 0.5);
}
/deep/ .demo-dark.footer{
  background: rgba(123, 155, 207, 0.5);
}
/deep/ .small{
  height: 50px;
  border: 1px solid lightgray;
}
