<h2>Forms and Multi-Purpose</h2>

<h3>Form</h3>
<dx-form
    [formData]="employee"
    [colCount]="2">
    <dxi-item itemType="group" caption="System Information">
        <dxi-item dataField="ID"></dxi-item>
        <dxi-item dataField="FirstName"></dxi-item>
        <dxi-item dataField="LastName"></dxi-item>
        <dxi-item dataField="HireDate"></dxi-item>
        <dxi-item dataField="Position"></dxi-item>
        <dxi-item dataField="OfficeNo"></dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Personal Data">
        <dxi-item dataField="BirthDate"></dxi-item>
        <dxi-item itemType="group" caption="Home Address">
            <dxi-item dataField="Address"></dxi-item>
            <dxi-item dataField="City"></dxi-item>
            <dxi-item dataField="State"></dxi-item>
            <dxi-item dataField="Zipcode"></dxi-item>
        </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Contact Information">
        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">
            <dxi-tab title="Phone">
                <dxi-item dataField="Phone"></dxi-item>
            </dxi-tab>
            <dxi-tab title="Skype">
                <dxi-item dataField="Skype"></dxi-item>
            </dxi-tab>
            <dxi-tab title="Email">
                <dxi-item dataField="Email"></dxi-item>
            </dxi-tab>
        </dxi-item>
    </dxi-item>
</dx-form>

<h3>Responsive Box</h3>
<dx-responsive-box [height]="400">
  <dxi-row [ratio]="1"></dxi-row>
  <dxi-row [ratio]="2" screen="xs"></dxi-row>
  <dxi-row [ratio]="2"></dxi-row>
  <dxi-row [ratio]="1"></dxi-row>

  <dxi-col [ratio]="1"></dxi-col>
  <dxi-col [ratio]="2" screen="lg"></dxi-col>
  <dxi-col [ratio]="1"></dxi-col>
  <dxi-item class="header demo-dark">
      <dxi-location
          [row]="0"
          [col]="0"
          [colspan]="3"
          screen="lg"
      ></dxi-location>
      <dxi-location
          [row]="0"
          [col]="0"
          [colspan]="2"
          screen="sm"
      ></dxi-location>
      <p>Header</p>
  </dxi-item>
  <dxi-item class="content demo-dark">
      <dxi-location
          [row]="1"
          [col]="1"
          screen="lg"
      ></dxi-location>
      <dxi-location
          [row]="1"
          [col]="0"
          [colspan]="2"
          screen="sm"
      ></dxi-location>
      <p>Content</p>
  </dxi-item>
  <dxi-item class="left-side-bar demo-dark">
      <dxi-location
          [row]="1"
          [col]="0"
          screen="lg"
      ></dxi-location>
      <dxi-location
          [row]="2"
          [col]="0"
          screen="sm"
      ></dxi-location>
      <p>Left Bar</p>
  </dxi-item>
  <dxi-item class="right-side-bar demo-dark">
      <dxi-location
          [row]="1"
          [col]="2"
          screen="lg"
      ></dxi-location>
      <dxi-location
          [row]="2"
          [col]="1"
          screen="sm"
      ></dxi-location>
      <p>Right Bar</p>
  </dxi-item>
  <dxi-item class="footer demo-dark">
      <dxi-location
          [row]="2"
          [col]="0"
          [colspan]="3"
          screen="lg"
      ></dxi-location>
      <dxi-location
          [row]="3"
          [col]="0"
          [colspan]="2"
          screen="sm"
      ></dxi-location>
      <p>Footer</p>
  </dxi-item>
</dx-responsive-box>

<h3>Box</h3>
<dx-box
  direction="col"
  width="100%"
  [height]="250">
  <dxi-item
    class="rect demo-dark header"
    [ratio]="1">
    Header
  </dxi-item>
  <dxi-item
    [ratio]="2"
    [baseSize]="0">
    <dx-box
      direction="row"
      width="100%"
      [height]="125">
      <dxi-item
        class="rect demo-dark left-side-bar"
        [ratio]="1">
        Left Bar
      </dxi-item>
      <dxi-item
        class="rect demo-dark content"
        [ratio]="1">
        Content
      </dxi-item>
      <dxi-item
        class="rect demo-dark right-side-bar"
        [ratio]="1">
        Right Bar
      </dxi-item>
    </dx-box>
  </dxi-item>
  <dxi-item
    class="rect demo-dark footer"
    [ratio]="1">
    Footer
  </dxi-item>
</dx-box>

<h3>MAP</h3>

<dx-map  
    center="Brooklyn Bridge,New York,NY" 
    [zoom]="14" 
    [height]="400" 
    width="100%" 
    provider="bing"
    type="roadmap">
</dx-map>